<%= form_with(model: @article, local: true) do |f| %>
  <!--  todo: validation_error_message  -->
  <div class="md-form">
    <label>タイトル</label>
    <%= f.text_field :title, required: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <label></label>
    <%= f.text_area :body, required: true, class: "form-control", rows: "16", placeholder: "本文" %>
  </div>
  <%= f.button "投稿する", class: "btn blue-gradient btn-block" %>
<% end %>
