<nav class="navbar navbar-expand navbar-dark blue-gradient">

  <a class="navbar-brand" href="/"><i class="far fa-sticky-note mr-1"></i>memo</a>

  <ul class="navbar-nav ml-auto">

    <% unless user_signed_in? %>
    <li class="nav-item">
      <a class="nav-link" href="">ユーザー登録</a>
    </li>
    <% end %>

    <% unless user_signed_in? %>
    <li class="nav-item">
      <a class="nav-link" href="">ログイン</a>
    </li>
    <% end %>

    <% if user_signed_in? %>
    <li class="nav-item">
      <a class="nav-link" href=""><i class="fas fa-pen mr-1"></i>投稿する</a>
    </li>
    <% end %>

    <% if user_signed_in? %>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
      </div>
    </li>
    <!-- Dropdown -->
    <% end %>

  </ul>

</nav>
